.banner {
    position: relative;
    width: 70%;
    height: auto;
    border: 1px solid var(--color-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}