.category-box {
    width: 220px;
    background-color: var(--color-white);
    border: 1px solid var(--color-light-border);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
}

/* 검색창 */
.category-box .search {
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid var(--color-light-gray);
    outline: none;
    font-size: var(--font-size-small);
}

/* 카테고리 리스트 */
.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-list li {
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
}

.category-list li:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* Active 상태 추가 */
.category-list li.active {
    background-color: var(--color-black);
    color: var(--color-white);
}

.search-button{
    background-color: var(--color-black);
    border: 0;
    color: var(--color-white);
    border-radius: 4px;
}