/* ===== 모달 ===== */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-modal-overlay);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: var(--color-white);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.modal-buttons button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.modal-buttons .cancel-btn {
    background: var(--color-light-gray);
}

.modal-buttons button:not(.cancel-btn) {
    background: #ff5757;
    color: var(--color-white);
}

.modal-buttons button:not(.cancel-btn):hover {
    background: #ff3d3d;
}

.modal-buttons .cancel-btn:hover {
    background: #b1b1b1;
}

/* 모달 내부 선택 리워드 리스트 */
.selected-rewards-list {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid var(--color-lighter-border);
    padding: 8px;
    border-radius: 6px;
    background-color: var(--color-reward-select);
}

.selected-reward-item-modal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}
