.funding-register-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.funding-register-section {
    margin-bottom: 40px;
}

.funding-register-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.funding-register-section input,
.funding-register-section select,
.funding-register-section textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
  font-size: var(--font-size-small);
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.file-upload {
    display: inline-block;
    padding: 8px 12px;
  background-color: var(--color-black);
  color: var(--color-white);
    cursor: pointer;
    margin-bottom: 10px;
  border-radius: 4px;
}

.image-preview {
  display: inline-block;
  margin: 5px;
  position: relative;
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.funding-register-container button {
  padding: 8px 16px;
  font-size: var(--font-size-small);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
}

.image-preview button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-delete-button);
  color: var(--color-white);
  font-size: var(--font-size-xsmall);
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
  margin-top: 20px;
}



.funding-register-container button:hover {
  opacity: 0.9;
}

.add-reward {
  background-color: var(--color-blue);
  margin-bottom: 10px;
}

/* ======= Progress Bar ======= */
.progress-bar-container {
  width: 100%;
  background-color: var(--color-light-border);
  border-radius: 20px;
  margin-bottom: 20px;
  height: 15px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: var(--color-progress-bar);
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.step-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.step-labels span {
  font-size: var(--font-size-order-status);
  color: var(--color-menu-text);
}

.step-labels span.active {
  font-weight: bold;
  color: var(--color-progress-bar);
}

