.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vw;
    height: auto;
    padding: 1vh 0;
    /* 최소 높이 지정 */
    border-bottom: 1.5px solid #000;
    box-sizing: border-box;
}

.header-logo .logo-img {
    height: auto;
    width: clamp(30px, 10vh, 100px);
    cursor: pointer;
}

/* 로고 컨테이너 */
.header-logo {
    display: flex;
    align-items: center;
}

/* 메뉴 */
.header-right {
    display: flex;
    gap: 0.5vw;
    /* 메뉴 간 간격을 화면 비율로 */
}

/* 메뉴 아이템 */
.header-menu {
    font-weight: 700;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    /* 화면 너비 기준 글자 크기 */
    cursor: pointer;
    padding: 0.3vh 0.3vw;
    /* 화면 비율 기준 패딩 */
    border-radius: 0.5vh;
    /* 화면 높이 기준 둥근 모서리 */
    transition: all 0.2s ease-in-out;
}

/* 마우스 오버 효과 */
.header-menu:hover {
    background-color: #000;
    /* 검정 배경 */
    color: #fff;
    /* 흰색 글자 */
}