.login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
  background-color: var(--color-white);
}

.login-board {
    width: 450px;
  padding: 40px 10px;
  border-radius: 12px;
  background-color: var(--color-white);
    box-sizing: border-box;
}

.login-title {
    margin-bottom: 24px;
  font-size: var(--font-size-large);
    text-align: center;
  color: var(--color-dark-gray);
}

.login-form {
    width: 100%;
}

.login-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 6px;
  border: 1px solid var(--color-light-gray);
    border-radius: 4px;
  font-size: var(--font-size-normal);
    box-sizing: border-box;
}

.login-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.login-save-id {
  font-size: var(--font-size-normal);
  color: var(--color-comment-text);
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.login-btn {
    flex: 1;
    padding: 10px 0;
    border: none;
    border-radius: 6px;
  background-color: var(--color-submit-button);
  color: var(--color-white);
  font-size: var(--font-size-normal);
    cursor: pointer;
}

.login-btn.signup {
    margin-left: 10px;
}

.login-btn:hover {
    opacity: 0.9;
}

