.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: white;
    padding-top: 150px;
}

.board {
    width: 250px;
    text-align: center;
    background-color: white;
}

.board h3 {
    font-size: 27px;
    margin-bottom: 15px;
    color: black;
}

