/* 메인 컨테이너 */
.main-container {
    display: flex;
    gap: 20px;
    padding: 2vw 5vw; /* 화면 비율 기준으로 padding */
    box-sizing: border-box;
    align-items: flex-start;
    flex-wrap: nowrap; /* wrap 방지 */
}


/* 메인 콘텐츠 영역 */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 오른쪽 사이드바 */
.category-sidebar {
    width: 250px;
    position: sticky;
    top: 20px; /* 화면 상단에서 거리 */
    align-self: flex-start; /* sticky 적용 */
    height: fit-content; /* 내용만큼 높이 */
}

